body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  color: red;
}

.bored_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 0;
}
