body {
	background-color: rgb(237, 136, 136);
	text-align: center;
}

h1 {
	color: darkgreen;
}

h2 {
	color: darkmagenta;
}

h3 {
	color: darkblue;
}

h4 {
	text-decoration: underline;
}

div {
	display: inline-block;
	height: 100px;
	width: 100px;
	border: 5px solid black;
}
