.header {
  border: 3px solid red;
  display: flex;
  justify-content: center;
}

.ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 0.5em;
}

.section-one,
.section-two {
  display: flex;
  width: 100%;
}

.information {
  max-width: 40%;
}

.img {
  max-width: 60%;
}

/* .section-two {
	display: flex;
	width: 100%;
} */

.infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-three {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
}
.projectImage {
  background-image: url("happyDog.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 200px;
}

@media (max-width: 426px) {
  .ul {
    flex-direction: column;
  }

  .section-one,
  .section-two {
    flex-direction: column;
  }

  .information {
    max-width: 100%;
  }

  .img {
    max-width: 100%;
  }
}
