body {
  margin: 0 auto;
  height: 100vh;
}

html {
  font-size: 32px;
}

header {
  border-bottom: grey 3px solid;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.navBarUl {
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 2rem;
  list-style: none;
}

.hamburger {
  display: none;
  height: 1rem;
}

.fixedBurger {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 12;
  height: 1rem;
}

.showNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: auto;
  justify-content: center;
  position: -webkit-sticky;
  position: fixed;
  background-color: white;
  top: 0;
}

@media screen and (max-width: 480px) {
  .hamburger {
    display: block;
    height: 2rem;
    margin: auto;
    margin-right: 1rem;
    margin-top: 1rem;
  }
  .navBarUl {
    display: none;
  }
}
